Checks: 'clang-diagnostic-*,clang-analyzer-*,bugprone-*,cert-*,misc-*,performance-*,portability-*,readability-*,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: file